@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
}

hr {
  @apply w-full border-gray-200 dark:border-gray-700;
}

.flexrow_sm_col {
  @apply flex flex-col md:flex-row place-items-center md:place-items-center;
}

.pageTitle {
  @apply font-bold text-5xl;
}

.pageSubtitle {
  @apply font-semibold text-3xl;
}

.card {
  @apply bg-gray-100 dark:bg-darkgraylight rounded-xl shadow p-5 m-5 text-center md:text-left;
}

.pageContainer {
  @apply px-5 py-5 justify-center place-items-center;
}

.modal {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  margin-right: -50;
  transform: translate(-50%, -50%);
  @apply bg-gray-100 dark:bg-darkgraylight rounded-xl shadow-xl text-center p-5 focus:outline-none;
}